<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="kuaiDaiLiParseActor" class="cn.edu.jlu.webcrawler.elio.ext.ActorFactoryBean">
        <!-- actor system reference -->
        <property name="actorSystem" ref="actorSystem"/>
        <!-- class name of actor to create -->
        <property name="actorClass" value="cn.edu.jlu.webcrawler.elio.parser.impl.KuaiDaiLiParser"/>
    </bean>

    <bean id="gimStudentParseActor" class="cn.edu.jlu.webcrawler.elio.ext.ActorFactoryBean">
        <!-- actor system reference -->
        <property name="actorSystem" ref="actorSystem"/>
        <!-- class name of actor to create -->
        <property name="actorClass" value="cn.edu.jlu.webcrawler.elio.parser.impl.GimStudentParser"/>
    </bean>
</beans>